@media screen and (max-width:480px){
    body{
        background-color: #CACACA;
    }



    .navigation{
        background-color: snow;
        border-radius: 15px;
    }

    .navigation ul{
        list-style: none;
    }

    .list{
        align-items: center;
        display: inline-block;
        margin-top: 5px;
        margin-right: 1.5rem;
    }
    .list a{
        text-decoration: none;
    }
    .icon{
        font-size: 30px;
        color: black;
        margin-left: auto;
        margin-right: auto;
    }

    .exit{
       float: right;
       margin-top: 10px;
        margin-right: 10px;
    }
    .active{
        text-align: center;
        align-items: center;
        background-color: red;
        padding-bottom: -5px;
        width: 2.4rem;
        border-radius: 15px;
        margin-bottom: 5px;
        padding-top: 5px;
    }

    .contenu{
        
        
    }
    .contenu .titre{
        margin-top: 30px;
        width: 100%;
        text-align: center;
    }
    .contenu .titre h2{
        font-family: Georgia, 'Times New Roman', Times, serif;

    }
    .contenu button{
        width: 100%;
        height: 50px;
        background-color: snow;
        border: solid black 1px;
        
    }

    .contenu button h2{
        font-size: 15px;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: black;
    }

    .contenu .info{
        border-radius:2px ;
        margin-top: -14px;
        background-color: snow;

        
    }
    .contenu .info h3{
        margin-left: 5px;
        font-family: Georgia, 'Times New Roman', Times, sans-serif;
        font-size: 15px;
    }
    .contact:not(:hover){
        height: 50px;
    }

    .invisible{
        opacity: 0;
        position: relative;
        bottom: 1000%;
    }
    
    .contact:hover {
        height: auto;
    }
    
    .contact:hover  .invisible{
        opacity: 1;
        position: relative;
        bottom: 0%;

        

    }





    .inscription{
        margin-top: 40px;
        transition-duration: .5s;
       
        width: 100%;
    }

    .inscription form input{
        display: block;
        background: none;
        border: none;  
        border-bottom: solid 1px snow;
        margin-top: 5px;
        color: black;
        margin-left: auto;
        margin-right: auto;
        
    }
    .inscription form:focus-within input {
        border:none;
        position: relative;
       
        font-size: 15px;
        margin-top: 3px;
        outline-style: none;
        border-bottom: solid 1px red;
    }




   .contact .button input{
    margin-top: 5px;
    background-color: snow;
    border: solid 1px black;
    border-radius: 30px;
   }
   

   .add{
    margin-top: 40px;
    
   }

   .add button{
    font-size: 25px;
    
   }

   /*
   .add:hover .inscription{
    opacity: 1;
    position: relative;
        bottom: 0%;

   }
    */

}